:root {
  /* Colors */

  /* Cyan */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;

  /* Purple */
  --purple--600: #855fb1;
  --purple--300: #d9b8ff;

  /* Slate */
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;

  /* White */
  --white: #fafafa;

  /* Typography */
  --font-family-display: "Red Hat Display", Arial, sans-serif;
  --weight-black: 900;
  --weight-medium: 500;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: var(--font-family-display);
  line-height: 1.5;
  text-align: center;
  color: var(--slate-900);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: 4em auto;
}

/* HEADER */
.header-img {
  margin: 0 auto;
  padding: 3em 0 0 0;
}

/* HERO SECTION */
.hero {
  position: relative;
  overflow: hidden;
}

.hero-img {
  position: relative;
  right: 75px;
  max-width: none;
  width: 150%;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: var(--weight-black);
  padding: 1.2em 0 0 0;
}

.hero-context {
  font-size: 1rem;
  font-weight: var(--weight-medium);
  color: var(--slate-600);
  line-height: 1.5;
  padding: 1.5em 0;
}
.cta-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn {
  padding: 15px 40px;
  border-radius: 25px;
  color: var(--white);
  font-weight: var(--weight-black);
}

.cta-btn .btn-download {
  background-color: var(--cyan-600);
}

.cta-btn .version {
  color: var(--cyan-300);
}

.cta-btn .btn-what {
  background-color: var(--purple--600);
}
